@keyframes fishbubbles {
    to {
        transform: translateX(250px)
    }
}

@keyframes fishswim {
    to {
        transform: translateX(250px)
    }

}

@keyframes octopusbubbles {
    to {
        transform: translateY(-250px)
    }
}

@keyframes octopusflap {
    to {
        transform: translateY(-250px)
    }
}

@keyframes algaewave {
        from {
            transform: rotate(1deg);
        }
        to {
            transform: rotate(-1deg);
           }

}
