body {
    background-color: var(--main-background-color);
}

.content {
    display: grid;
    justify-content: center;
    background-color: var(--div-background-color);
}

.square {
    background-color: var(--main-square-color);
    width: 200px;
    height: 200px;
    animation: spin 3s infinite, colorchange 3s infinite;
    -webkit-animation: spin 3s infinite, colorchange 3s infinite;
    margin: 50px;
}