* {
  margin: 0;
  padding: 0;
}

:root {
  --first-water-color: #94BFFF;
  --second-water-color: #434AFF;
  --third-water-color: #202F88;
}

@-webkit-keyframes fishbubbles {
  to {
    transform: translateX(250px);
  }
}

@keyframes fishbubbles {
  to {
    transform: translateX(250px);
  }
}
@-webkit-keyframes fishswim {
  to {
    transform: translateX(250px);
  }
}
@keyframes fishswim {
  to {
    transform: translateX(250px);
  }
}
@-webkit-keyframes octopusbubbles {
  to {
    transform: translateY(-250px);
  }
}
@keyframes octopusbubbles {
  to {
    transform: translateY(-250px);
  }
}
@-webkit-keyframes octopusflap {
  to {
    transform: translateY(-250px);
  }
}
@keyframes octopusflap {
  to {
    transform: translateY(-250px);
  }
}
@-webkit-keyframes algaewave {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}
@keyframes algaewave {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}
@font-face {
  font-family: Open-Sans;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Open-Sans-italic;
  src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
}
html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

#fishmain {
  background-color: var(--first-water-color);
  width: 100vw;
  height: 100vh;
}

#fishbubbles {
  position: relative;
  width: 150px;
  height: 150px;
  left: 650px;
  top: 400px;
  -webkit-animation: fishbubbles 3s;
          animation: fishbubbles 3s;
}

#fish {
  position: absolute;
  width: 392px;
  height: 196px;
  left: 340px;
  top: 527px;
  -webkit-animation: fishswim 3s;
          animation: fishswim 3s;
}

#octopusmain {
  display: grid;
  background-color: var(--second-water-color);
  width: 100vw;
  height: 100vh;
}

#octopusheading {
  grid-column: 3;
  grid-row: 2;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  max-width: 25ch;
}

#octopusbubbles {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 125px;
  top: 1050px;
  -webkit-animation: octopusbubbles 3s;
          animation: octopusbubbles 3s;
}

#octopus {
  position: relative;
  width: 456.82px;
  height: 462.92px;
  left: 125px;
  top: 425px;
  -webkit-animation: octopusflap 3s;
          animation: octopusflap 3s;
}

#algaemain {
  display: grid;
  background-color: var(--third-water-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#algae {
  position: relative;
  width: 1000px;
  height: 750px;
  justify-self: center;
  bottom: -400px;
  -webkit-animation: algaewave 3s infinite;
          animation: algaewave 3s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@media (prefers-reduced-motion) {
  #fishbubbles, #fish, #octopusbubbles, #octopus {
    -webkit-animation: none;
            animation: none;
  }
}
@media (prefers-color-scheme: dark) {
  #fishmain, #octopusmain, #algaemain {
    background: darkblue;
  }
}/*# sourceMappingURL=index.css.map */
